body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
    min-width: 320px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

a:hover,
a:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: inherit;
  color: #212121;
}

input {
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 10px 28px;
  cursor: pointer;
}
input:focus, input:hover {
  border-color: #2196f3;
}
input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
input::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

textarea:focus,
textarea:hover {
  border-color: #2196f3;
  cursor: pointer;
}

.container {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.our-team__text, .our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: inherit;
  color: #212121;
}

.our-team__title {
  margin-bottom: 10px;
}

.our-team__text {
  font-weight: 400;
  color: inherit;
  margin-bottom: 16px;
}

.header__logo-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: #000000;
  margin-right: 93px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-word {
  color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-nav .header__link--current {
  color: #2196f3;
}

.header__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links-list-item {
  margin-right: 50px;
}
.header__links-list-item:last-child {
  margin-right: 0;
}

.smartphone-icon,
.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__link,
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--current {
  position: relative;
}
.header__link--current::after {
  display: block;
  bottom: -32px;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  position: absolute;
}

.header__links-list-item-contacts {
  margin-right: 30px;
}
.header__links-list-item-contacts:last-child {
  margin-right: 0;
}

.header__contacts {
  color: inherit;
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

.hero {
  padding: 118px 60px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(0, 0, 0, 0.25))), url("../images/bg_hero_image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.25)), url("../images/bg_hero_image.jpg");
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  -webkit-animation-name: changeBgColor;
          animation-name: changeBgColor;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 528px;
  height: 580px;
  border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal__icon {
  width: 11px;
  height: 11px;
}

.modal__window-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal__textarea {
  width: 100%;
  height: 96px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}
.modal__textarea::-webkit-input-placeholder {
  top: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  top: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  top: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  top: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  top: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__box {
  position: relative;
  text-align: left;
  margin-bottom: 12px;
}
.modal__box.comment {
  margin-bottom: 20px;
}
.modal__box:focus-within {
  border-color: #2196f3;
}

.modal__window-subtitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input-icon {
  position: absolute;
  top: 30px;
  left: 12px;
}
.modal__input-icon:hover, .modal__input-icon:focus {
  fill: #2196f3;
  cursor: pointer;
}
.modal__input:hover + .modal__input-icon {
  fill: #2196f3;
}
.modal__input:focus + .modal__input-icon {
  fill: #2196f3;
}

.checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:focus + .icon-check-box {
  border-color: #2196f3;
}
.checkbox:checked + .icon-check-box {
  background-color: #2196f3;
  background-image: url("../images/icon_check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-position: center;
}

.icon-check-box {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.modal__consent-box {
  margin-bottom: 30px;
}
.modal__consent-box input:checked {
  color: #2196f3;
}

.modal__window-consent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__agreement-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__window-submit-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 55px;
  background-color: #2196f3;
  padding: 10px 55px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.modal__window-submit-button:hover, .modal__window-submit-button:focus {
  background-color: #188ce8;
}

.properties__icon-box {
  width: 100%;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 25px 100px;
}
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .properties__icon-box {
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .properties__icon-box {
    padding: 25px 190px;
  }
}

.properties__icon {
  width: 70px;
  height: 70px;
}

.properties,
.section-properties {
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1139px) {
  .properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.properties__item {
  width: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.properties__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1139px) {
  .properties__item {
    width: 354px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .properties__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .properties__item:nth-child(2n+2) {
    margin-right: 0;
  }
  .properties__item:nth-child(n+1) {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .properties__item {
    width: 270px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .properties__item:not(:last-child) {
    margin-right: 30px;
  }
}

.properties__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #212121;
}

.properties__text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: inherit;
}

@media (max-width: 1139px) {
  .reviews {
    display: none;
  }
}

.activities-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities-images__item {
  position: relative;
  margin-bottom: 0;
}
.activities-images__item:not(:last-child) {
  margin-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activities-images__item > .activities-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 80px;
}

.activities-text p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team__image {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__image:last-child,
.our-team__image .our-team__image-description:last-child {
  margin-right: 0;
}
.our-team__image,
.our-team__image .our-team__image-description {
  margin-right: 30px;
}

.our-team__image-description {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

section.our-team {
  background: #f5f4fa;
}

.our-team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-icons__item {
  width: 44px;
  height: 44px;
  fill: currentColor;
}
.social-media-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-media-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms timing-function;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms timing-function;
}
.social-media-icons__link:hover, .social-media-icons__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.clients-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.clients-item__client-box {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.clients-item__client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item__client-link:hover, .clients-item__client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.clients-item__client-box:last-child {
  margin-right: 0;
}
.clients-item__client-logo {
  fill: currentColor;
}

.portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button-list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  padding-left: 0;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__item:nth-child(3n+3) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__overlay,
.portfolio__item:hover .portfolio__overlay, .portfolio__item:focus .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__item-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__button {
  padding: 6px 22px;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
}

.portfolio__description {
  padding: 20px 22px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
  color: #757575;
}

footer {
  background-color: #2f303a;
}

footer {
  margin-top: 0 px;
  margin-bottom: 0 px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-text {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address,
.footer__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__info-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-media-box {
  margin-right: 93px;
}

.footer__main-info {
  min-width: 240px;
}

.footer__social-media-title,
.footer__form-title {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
}

.footer__social-media-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__social-media-icons-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-media-icons-link:hover, .footer__social-media-icons-link:focus {
  background-color: #2196f3;
}

.footer__social-media-icons li:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__form-box input {
  margin-right: 12px;
  min-width: 358px;
}

.footer__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 28px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.footer__submit-button:hover, .footer__submit-button:focus {
  background-color: #188ce8;
}

.footer__submit-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */