footer {
  background-color: $secondary-background-color;
}
footer {
  margin-top: 0 px;
  margin-bottom: 0 px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.footer__container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo-text {
  display: inline-block;
  margin-bottom: 20px;

  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: $primary-background-color;

  transition: transform 250ms $timing-function;
}
.footer__address,
.footer__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: $primary-background-color;

  transition: background-color 250ms $timing-function;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}
.footer__main-info {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    text-align: center;
    flex-basis: calc((100% - 2 * 165px) / 2);
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
.footer__social-media-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    text-align: center;
    flex-basis: calc((100% - 2 * 165px) / 2);
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
.footer__social-media-title,
.footer__form-title {
  margin-bottom: 20px;
  display: block;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-background-color;
  font-style: normal;

  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    text-align: center;
  }
}
.footer__social-media-box {
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    text-align: center;
  }
}
.footer__social-media-icons {
  display: inline-flex;
}
.footer__social-media-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;
  align-items: center;

  transition: background-color 250ms $timing-function;

  @media screen and (min-width: $desktop) {
    display: inline-flex;
  }
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer__social-media-icons li:not(:last-child) {
  margin-right: 10px;
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: $primary-background-color;
}
.footer__form-box {
  & input {
    @media screen and (max-width: 1139px) {
      min-width: 450px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1139px) {
      align-content: center;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
}
.footer__submit-button {
  display: flex;
  align-items: center;

  padding: 8px 28px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-right: auto;
  margin-left: auto;

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
  }
}
.footer__submit-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primary-background-color;
  margin-right: 10px;
}
