.header__logo-text {
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: $logo-color;
  margin-right: 93px;

  transition: color 250ms $timing-function;
}
.web-word {
  color: $accent-color;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .header__links-list-item {
      display: inline-flex;
      justify-content: center;
    }
  }
}
.header {
  border-bottom: 1px solid $header-border-bottom-color;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__container {
  position: relative;
  // display: flex;
  // justify-content: space-between;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link--current {
  color: $accent-color;
}
.header__links-list {
  @media screen and (min-width: $destop) {
    display: flex;
    align-items: center;
  }
}
.header__links-list-item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}
.smartphone-icon,
.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__link,
.header__contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;

  transition: color 250ms $timing-function;
}
.header__link--current {
  @media screen and (min-width: 768px) {
    position: relative;

    &::after {
      display: block;
      bottom: -32px;
      content: '';
      height: 4px;
      width: 100%;
      background-color: $accent-color;

      position: absolute;
    }
  }
}
.header__links-list-item-contacts {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
.header__contacts {
  color: inherit;
}
.envelope-icon {
  width: 16px;
  height: 12px;
}
.smartphone-icon {
  width: 10px;
  height: 16px;
}
