.header__logo-text {
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  color: $logo-color;

  transition: color 250ms $timing-function;
  @media screen and (min-width: $tablet) {
    margin-right: 93px;
  }
}
.web-word {
  color: $accent-color;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -20px;
  z-index: 20;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: $primary-background-color;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    .header__links-list-item {
      display: inline-flex;
      justify-content: space-around;
    }
  }
}
.menu-container__contacts {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    position: absolute;
    top: -10px;
    right: -60px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.header {
  border-bottom: 1px solid $header-border-bottom-color;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.site-nav {
  display: inline-flex;
  justify-content: space-between;
}
.header__link.header__link--current {
  color: $accent-color;
}
.header__links-list {
  @media screen and (min-width: $desktop) {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__links-list-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}
.smartphone-icon,
.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-link {
  @media screen and (max-width: 767px) {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
  }
}
.header__link,
.header__contacts {
  @media screen and (min-width: $tablet) {
    display: inline-flex;
    align-items: center;
    @include font(14px, 500, 1.14);
    letter-spacing: 0.02em;
    color: $title-color;

    transition: color 250ms $timing-function;
  }
}
.header__contacts {
  @media screen and (max-width: 767px) {
    @include font(34px, 500, 1.18);
    letter-spacing: 0.02em;
    color: $title-color;

    &.email {
      font-size: 24px;
      line-height: 1.17;
    }
  }
}
.header__link {
  @media screen and (max-width: 767px) {
    @include font(40px, 500, 1.18);
    letter-spacing: 0.02em;
    color: $title-color;
  }
}
.header__link--current {
  @media screen and (min-width: 768px) {
    position: relative;

    &::after {
      display: block;
      bottom: -32px;
      content: '';
      height: 4px;
      width: 100%;
      background-color: $accent-color;

      position: absolute;
    }
  }
}
.header__links-list-item-contacts:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}
.header__links-list-item-contacts:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}
.header__contacts {
  color: inherit;
}
.envelope-icon {
  width: 16px;
  height: 12px;
}
.smartphone-icon {
  width: 10px;
  height: 16px;
}
.menu-container__social-links {
  @media screen and (max-width: 767px) {
    display: inline-flex;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-container__social-link:not(:last-child) {
  margin-right: 20px;
  position: relative;
  &::after {
    position: absolute;
    display: flex;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    right: -20px;
    top: 10px;
  }
}
.menu-container__social-link a {
  @include font(18px, 500, 1.22);
  letter-spacing: 0.02em;
  color: $accent-color;
  cursor: pointer;
}
