.properties__icon-box {
  width: 100%;
  background-color: $section-background-color;
  padding: 25px 190px;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    & {
      padding: 25px 142px;
    }
  }
  @media screen and (min-width: $desktop) {
    & {
      padding: 25px 100px;
    }
  }
}
.properties__icon {
  width: 70px;
  height: 70px;
}
.properties {
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    & {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: $desktop) {
    & {
      display: flex;
    }
  }
}
.properties__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1139px) {
    & {
      flex-basis: calc((100% - 2 * 30px) / 2);
    }
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media (min-width: $desktop) {
    & {
      flex-basis: calc((100% - 4 * 30px) / 4);
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.properties__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: $title-color;
}
.properties__text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: inherit;
}
